<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>

    <!--
    CurrenEx
    Espeed
    Airel
    DBFX
    Gain
    Icap
    Dukascopy
    FxIntegral
    -->
  <add key ="ExchangeServer" value ="FxIntegral"/>
    <add key ="DUKASLoginIP" value ="localhost"/>
    <add key ="DUKASLoginPort" value ="5002"/>
    <add key ="DUKASLoginSender" value ="FRANCO33_DEMOFIX"/>
    <add key ="DUKASLoginPassword" value ="s7cap"/>
    <add key ="DUKASLoginTarget" value ="DUKASCOPYFIX"/>
    <add key ="DUKASLoginUserName" value ="franco55"/>
    <add key ="DUKASLoginSenderMarketData" value ="FEED_FRANCO55_DEMOFIX"/>
    <add key ="DUKASLoginUserNameMarketData" value ="franco55"/>
    <add key ="DUKASLoginTargetMarketData" value ="DUKASCOPYFIX"/>
    <add key ="DUKASLoginIPMarketData" value ="localhost"/>
    <add key ="DUKASLoginPortMarketData" value ="5001"/>

    <add key ="DBFXUserName" value ="DBD1568878001"/>
    <add key ="DBFXPassword" value ="9490"/>
    <add key ="DBFXURL" value ="http://dbfx.fxcorporate.com/"/>
    <add key ="DBFXAccountType" value ="Demo"/>

    <add key ="GainUserName" value ="gain3@gmail.com"/>
    <add key ="GainPassword" value ="gaindemo"/>
    <add key ="GainBrand" value ="Demo"/> 
    <add key ="GainMDHost" value ="DemoSecondary.efxnow.com"/>
    <add key ="GainMDPort" value ="3020"/>
    <add key ="GainPlatform" value ="0"/>

    <add key ="EspeedLoginIP" value =""/>
    <add key ="EspeedLoginPort" value =""/>
    <add key ="EspeedLoginUsername" value =""/>
    <add key ="EspeedLoginPassword" value =""/>

    <add key ="ArielLoginUserID" value ="Test14"/>
    <add key ="ArielLoginUserName" value ="Test14"/>
    <add key ="ArielLoginPassword" value ="MG1014"/>
    <add key ="ArielClient" value ="BGC"/>
    <!-- <add key ="ArielClient" value ="ODL"/> -->

    <add key ="IcapIP" value ="10.81.1.155"/>
    <add key ="IcapPort" value ="4340"/>
    <add key ="IcapUserName" value ="TRC"/>
    <add key ="IcapPassword" value ="1234567"/>

    <add key ="CXLoginIP" value ="64.210.170.136"/>
    <add key ="CXLoginPort" value ="443"/>
    <add key ="CXLoginSender" value ="scalpercust1u6trade"/>
    <add key ="CXLoginPassword" value ="test1234"/>
    <add key ="CXLoginTarget" value ="CNX"/>
    <add key ="LoginSenderMarketData" value ="scalpercust1u6stream"/>
    <add key ="LoginTargetMarketData" value ="CNX"/>
    <add key ="LoginIPMarketData" value ="64.210.170.136"/>
    <add key ="LoginPortMarketData" value ="442"/>


    <add key ="FxIntLoginIP" value ="localhost"/>
    <add key ="FxIntLoginPort" value ="2508"/>
    <add key ="FxIntLoginSendercompId" value ="order.OBFL.dev.OBFL4.com"/>
    <add key ="FxIntLoginPassword" value ="Welcome01"/>
    <add key ="FxIntLoginTargetcompId" value ="demo.client.fxgrid.integral.com"/>
    <add key ="FxIntLoginUserName" value ="franco"/>
    <add key ="FxIntLoginLegalEntity" value ="LE4"/>
    
    <add key ="FxIntegralMarkLegalEntity" value ="LE4"/>
    <add key ="FxIntegralSenderMarketData" value ="quote.OBFL.dev.OBFL4.com"/>
    <add key ="FxIntegralUserNameMarketData" value ="franco"/>
    <add key ="FxIntegralTargetMarketData" value ="demo.client.fxgrid.integral.com"/>
    <add key ="FxIntegralIPMarketData" value ="localhost"/>
    <add key ="FxIntegralPortMarketData" value ="2508"/>



  </appSettings>
</configuration>
