<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminTC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AdminTC.Properties.Settings>
            <setting name="AdminTC_WSScalper_WebServicesScalper" serializeAs="String">
                <value>http://81.136.209.20/WSScalper/WSScalper.asmx</value>
            </setting>
        </AdminTC.Properties.Settings>
    </applicationSettings>
</configuration>